<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Policy</h1>
      <p>
        On this page you will find information about our shipping duration and
        costs.
      </p>

      <h4>Order Processing Duration</h4>
      <p>
        For domestic buyers, orders are shipped through registered domestic courier companies and /or speed post only. Orders are shipped within 15 working days or as per the delivery date agreed at the time of order confirmation and delivering of the shipment subject to Courier Company/post office norms. 
      </p>

      <h4>Order Delivery</h4>
      <p>
        For domestic buyers, orders are shipped through registered domestic courier companies and /or speed post only. Orders are shipped within 15 working days or as per the delivery date agreed at the time of order confirmation and delivering of the shipment subject to Courier Company/post office norms. 
      </p>

      <h4>Shipping Rates</h4>
      <p>
        The shipping charge is based on the weight of the product. For multiple
        products ordered from the same category, the program adds up the weight
        of all the units ordered and charges a single delivery fee. Thus, a
        customer who orders three items weighing 200gms, 250gms, and 400gms is
        charged a single delivery fee of a consignment weighing more than 500gms
        but less than one kg. The customer is not charged for three different
        consignments weighing less than 500gms each. Thus the customer will pay
        a delivery fee of Rs 85 for ordering the three items as a single order
        instead of Rs 142 if he orders them separately. The weight of the
        product has been built-in into the delivery charge of each product. This
        will automatically be added to the product cost at the payment stage.
      </p>

      <h4>Returning Products</h4>
      <p>
        1. We accept return and refund request only if the product delivered by
        us is in damage condition, wrong product sent, product in dead condition
        or product is defective. Buyers will have 3 days and 7 days (7 days is
        applicable on purchase of a complete PC set) after delivery to inform us
        in case of any dispute in the order to claim for return or refund. For
        gaming chairs only replacement is applicable, no refunds will be there
        for gaming chairs. If the seal of the product is opened and the product
        is not faulty then return/refund will not be applicable. Buyer needs to
        bring the issue to our attention either by emailing us (preferred) or by
        calling us.
        <p> 2. If the payment was made through our payment gateway then
        it will be refunded in same account by which the payment was done, in
        case of BANK TRANSFER and COD orders refunds will be done only in buyers
        bank account. Refunds usually takes 7-10 working days to reflect in your
        account.</p>
      </p>

      <h4>Do you have questions?</h4>
      <p>
        Please do not hesitate to
        <a href="/pages/contact-us"><u>contact us</u></a> through our emails or
        phone numbers
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
